
<div class="banner">
    <h2 class="banner-title">Bienvenido a la DashBoard</h2>
    <div class="banner-content">
        <p class="banner-text">En esta plataforma tendrás acceso a diversas funciones para administrar tu tienda online:</p>
        <ul class="banner-list">
            <li>Crear nuevos Juegos</li>
            <li>Editar Juegos</li>
            <li>Borrar Juegos</li>
            <li>Administrar usuarios</li>
            <li>Asignar permisos de administrador a usuarios</li>
            <li>Verificar usuarios</li>
            <li>Borrar cuentas de usuarios</li>
        </ul>
        <p class="banner-text">¡Y eso es solo en la primera versión de la DashBoard! En futuras versiones, podrás acceder a aún más funcionalidades:</p>
        <ul class="banner-list">
            <li>Ver historial de ventas</li>
            <li>Consultar reseñas y puntuaciones de los juegos</li>
            <li>Análisis de mercado para mejorar las ventas</li>
            <li>Optimizar el flujo de ganancias</li>
        </ul>
        <a href="https://pg-node-js.vercel.app/" class="btn btn-primary">Games Web</a>
    </div>
</div>